Repository doomedramen/autopwn: changes, and which lefthook commands are due for each by the changed paths.
All: format-check-and-fix, lint-fix, lint-check, typecheck

lefthook.yml:

pre-commit:
  commands:
    format-check-and-fix:
      glob: '{*.{md,json,yml,yaml},src/**/*,components/**/*,.github/**/*}'
      run: |
        if ! pnpm format:check > /dev/null 2>&1; then
          echo "❌ Formatting issues found. Running prettier to fix..."
          pnpm format:write
          echo "❌ Formatting was fixed. Please review the changes and try again."
          exit 1
        else
          echo "✅ Code formatting is correct"
        fi
    lint-fix:
      glob: 'src/**/*.{ts,tsx,js,jsx}'
      run: pnpm lint:fix
    lint-check:
      glob: 'src/**/*.{ts,tsx,js,jsx}'
      run: pnpm lint --max-warnings=0
    typecheck:
      glob: 'src/**/*.{ts,tsx,js,jsx}'
      run: pnpm typecheck

pre-push:
  run_serial:
    - name: build
      run: pnpm build

Disable GPU Docker builds, only build CPU variant
  .github/workflows/docker-deploy.yml
Due: format-check-and-fix

Complete job progress and UI fixes
  docker-compose.amd.yml
  docker-compose.cpu.yml
  docker-compose.intel.yml
  docker-compose.nvidia.yml
  src/app/api/jobs/[id]/logs/route.ts
  src/app/page.tsx
  src/components/modals/UploadModal.tsx
Due: format-check-and-fix, lint-fix, lint-check, typecheck

Add reactive pwnagotchi logo system
  .github/workflows/docker-deploy.yml
  src/app/change-password/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/page.tsx
  src/components/logo/index.ts
  src/components/logo/logo-context.tsx
  src/components/logo/logo.tsx
  src/components/modals/JobCreationModal.tsx
  src/components/modals/UploadModal.tsx
  src/components/ui/Logo.tsx
  src/components/universal-header.tsx
Due: format-check-and-fix, lint-fix, lint-check, typecheck

Replace console statements with proper logger calls
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/app/change-password/page.tsx
  src/app/page.tsx
  src/app/setup/page.tsx
  src/components/auth-provider.tsx
  src/components/logo/logo.tsx
  src/components/modals/JobCreationModal.tsx
  src/components/modals/UploadModal.tsx
  src/components/ui/Logo.tsx
  src/components/upload/useFileUpload.ts
  src/hooks/useNetworkPasswords.ts
  src/tools/hashcat/index.ts
  src/tools/hcxpcapngtool/index.ts
  src/utils/db-cleanup.ts
Due: format-check-and-fix, lint-fix, lint-check, typecheck

lint fixes
  src/tools/hashcat/index.ts
  src/tools/hcxpcapngtool/index.ts
Due: format-check-and-fix, lint-fix, lint-check, typecheck

Configure Husky + lint-staged for automatic code quality
  .husky/pre-commit
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Due: format-check-and-fix

Add auto package version bumping to pre-commit workflow
  .husky/pre-commit
  package.json
Due: format-check-and-fix

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: format-check-and-fix

Fix GitHub Actions security-scan matrix evaluation error
  .github/workflows/docker-deploy.yml
Due: format-check-and-fix

Add comprehensive test coverage and security hardening
  README.md
  docker-compose.amd.yml
  docker-compose.cpu.yml
  docker-compose.intel.yml
  docker-compose.nvidia.yml
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/api/jobs/route.ts
  src/app/api/upload/dictionary/route.ts
  src/app/api/upload/pcap/route.ts
  src/env.ts
  src/lib/auth.ts
  src/lib/rate-limit.ts
  src/middleware.ts
  src/tests/components/button.test.tsx
  src/tests/components/card.test.tsx
  src/tests/e2e/api/read-endpoints.spec.ts
  src/tests/e2e/jobs/job-edge-cases.spec.ts
  src/tests/e2e/jobs/job-output-edge-cases.spec.ts
  src/tests/e2e/upload/upload-edge-cases.spec.ts
  src/tests/e2e/workflows/comprehensive-ui-validation.spec.ts
  src/tests/setup.ts
  src/tests/unit/hashcat.test.ts
  src/tests/unit/hcxpcapngtool.test.ts
  src/tests/unit/logger.test.ts
  src/tests/unit/rate-limit.test.ts
  src/tools/hashcat/index.ts
  vitest.config.ts
Due: format-check-and-fix, lint-fix, lint-check, typecheck

Add smart number formatting for dictionary word counts
  src/components/dashboard/dashboard-stats.tsx
  src/components/dashboard/dictionaries-tab.tsx
  src/lib/utils/format-number.ts
Due: format-check-and-fix, lint-fix, lint-check, typecheck

Fix login page hanging on authentication failures
  src/app/login/page.tsx
Due: format-check-and-fix, lint-fix, lint-check, typecheck

SECURITY: Fix account enumeration vulnerability in login
  src/app/login/page.tsx
Due: format-check-and-fix, lint-fix, lint-check, typecheck

SECURITY: Fix upload error information disclosure and add user avatar
  src/app/api/upload/dictionary/route.ts
  src/app/api/upload/pcap/route.ts
  src/components/modals/UploadModal.tsx
  src/components/universal-header.tsx
Due: format-check-and-fix, lint-fix, lint-check, typecheck

Fix database migration failures in Docker container
  docker/docker-entrypoint.sh
Due: none

Fix Drizzle schema path for production Docker environment
  drizzle.config.ts
Due: none

Create proper Docker Compose structure for dev/prod
  DOCKER.md
  docker-compose.cpu.yml
  docker-compose.dev.yml
Due: format-check-and-fix

Fix Docker Compose environment variable syntax
  docker-compose.dev.yml
Due: format-check-and-fix

Remove obsolete version field from docker-compose.dev.yml
  docker-compose.dev.yml
Due: format-check-and-fix

Fix ESLint errors for Docker build compatibility
  src/app/api/jobs/route.ts
  src/app/change-password/page.tsx
  src/app/error.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/lib/auth.ts
  src/lib/utils/browser.ts
  src/tools/hcxpcapngtool.ts
Due: format-check-and-fix, lint-fix, lint-check, typecheck

Fix Docker build environment variables and HTML import issues
  docker/Dockerfile.cpu
  next.config.ts
Due: none

Fix Next.js HTML import errors during Docker build
  next.config.ts
  src/app/not-found.tsx
Due: format-check-and-fix, lint-fix, lint-check, typecheck

Update docker-compose.dev.yml
  docker-compose.dev.yml
Due: format-check-and-fix

Disable Turbopack for build to enable webpack configuration
  package.json
Due: format-check-and-fix

Fix HTML import error with proper Next.js dynamic import solution
  next.config.ts
  package.json
  src/app/layout.tsx
Due: format-check-and-fix, lint-fix, lint-check, typecheck

Fix Turbopack SSR error with proper client component wrapper
  src/app/layout.tsx
  src/components/ui/toaster-wrapper.tsx
Due: format-check-and-fix, lint-fix, lint-check, typecheck

Fix Docker runtime issues for production deployment
  docker/Dockerfile.cpu
  docker/docker-entrypoint.sh
Due: none

Fix CI Docker build issues and update configuration
  .github/workflows/docker-deploy.yml
  docker/Dockerfile.cpu
  drizzle.config.ts
Due: format-check-and-fix

Implement true runtime-only configuration for Docker deployment
  .github/workflows/docker-deploy.yml
  docker/Dockerfile.cpu
  src/env.ts
Due: format-check-and-fix

Update docker-compose.cpu.yml
  docker-compose.cpu.yml
Due: format-check-and-fix

Fix DATABASE_URL encoding issues with special characters
  docker-compose.cpu.yml
  docker/docker-entrypoint.sh
Due: format-check-and-fix

Simplify DATABASE_URL encoding fix with proper quoting
  docker-compose.cpu.yml
  docker/docker-entrypoint.sh
Due: format-check-and-fix

Add CI/CD optimization documentation and clean up temporary files
  docs/CI-CD-OPTIMIZATIONS.md
Due: format-check-and-fix

fixes
  E2E-TEST-UPDATES.md
  docker-compose.cpu.yml
  docker/docker-entrypoint.sh
  src/middleware.ts
Due: format-check-and-fix

init docs
  README.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/DATABASE.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/ROADMAP.md
  docs/SETUP.md
Due: format-check-and-fix

structure
  .env.example
  .eslintrc.json
  .gitignore
  .prettierignore
  .prettierrc
  apps/backend/drizzle.config.ts
  apps/backend/package.json
  apps/backend/tsconfig.json
  apps/frontend/next.config.js
  apps/frontend/package.json
  apps/frontend/postcss.config.js
  apps/frontend/tailwind.config.ts
  apps/frontend/tsconfig.json
  docker-compose.dev.yml
  example_files/README.md
  example_files/dictionaries/test-passwords.txt
  example_files/pcaps/wpa2-ikeriri-5g.pcap
  package.json
  packages/shared/package.json
  packages/shared/src/constants.ts
  packages/shared/src/index.ts
  packages/shared/src/schemas.ts
  packages/shared/src/types.ts
  packages/shared/tsconfig.json
  pnpm-workspace.yaml
  tsconfig.base.json
Due: format-check-and-fix

Create .env.example
  apps/frontend/.env.example
Due: none

Create .env.example
  apps/backend/.env.example
Due: none
